<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Online Aptitude</title>

    <!-- // <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script> -->
   <!-- CSS -->
    <link rel="stylesheet" href="/static/libs/bootstrap/dist/css/bootstrap.min.css">

    <!-- JS -->
    <script src="/static/libs/jquery/dist/jquery.js "></script>
    <script src="/static/libs/angular/angular.min.js"></script>
    <script src="/static/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/static/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/static/libs/ngmap/build/scripts/ng-map.min.js"></script>


    <!-- <script src='/static/libs/angular-google-maps/dist/lodash.min.js'></script> -->
    <!-- <script src='/static/libs/angular-google-maps/dist/angular-google-maps.min.js'></script> -->

    <!-- ANGULAR CUSTOM -->
    <script src="/static/js/services.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/app.js"></script>

</head>
<body ng-app="TrackingApp"  ng-controller="MasterCtrl">

</body>
</html>
