<!-- <!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>Online Aptitude</title> -->

    <!-- // <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script> -->
   <!-- CSS -->
  <!--   <link rel="stylesheet" href="/home/ram/onlineaptitude/onlineaptitude/static/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->

    <!-- JS -->
<!--     // <script src="/home/ram/onlineaptitude/onlineaptitude/static/bower_components/jquery/dist/jquery.js "></script>
    // <script src="/home/ram/onlineaptitude/onlineaptitude/static/bower_components/angular/angular.min.js"></script>
    // <script src="/home/ram/onlineaptitude/onlineaptitude/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    // <script src="/home/ram/onlineaptitude/onlineaptitude/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    // <script src="/home/ram/onlineaptitude/onlineaptitude/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script> -->
    <!-- // <script src="/static/bower_components/ngmap/build/scripts/ng-map.min.js"></script> -->


    <!-- <script src='/static/libs/angular-google-maps/dist/lodash.min.js'></script> -->
    <!-- <script src='/static/libs/angular-google-maps/dist/angular-google-maps.min.js'></script> -->

    <!-- ANGULAR CUSTOM -->
    <!-- // <script src="/static/js/services.js"></script> -->
    <!-- // <script src="/home/ram/onlineaptitude/onlineaptitude/static/js/controllers.js"></script> -->
    <!-- // <script src="/home/ram/onlineaptitude/onlineaptitude/static/js/app.js"></script> -->
<style type="text/css">
      .form_fields * {vertical-align: middle;}
      /*.site_map {
        border: 1px solid #000;
      }*/
</style>
<!-- </head> -->
<!-- <body ng-app="TrackingApp"  ng-controller="MasterCtrl"> -->
<!-- <body onload="fillCategory();"> -->
<!-- <body> -->

<div class="row site_map">
  <p></p>
</div>
<div class="row">
  <div class="col-sm-3">
   <!--  <form name="drop_list" action="mainck.php" method="POST">
        <select class="form-control" NAME="Category" onChange="SelectSubCat();" >
            <Option value="">Category</option>
        </select>&nbsp;

        <select class="form-control" id="SubCat" NAME="SubCat">
            <Option value="">SubCat</option>
        </select>
    </form> -->
    <ul ng-repeat="list in getListItems">
      <li>{{list}}</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <div class="row" style="margin-top:20px;">
      <label for="questionField">Enter Question</label>
      <textarea id="questionField" class="form-control"></textarea>
    </div>
    <div class="row ">
        <div class="col-sm-6 form_fields" style="padding:0px;">
            <label for="anserwerFieldOne" style="margin-top:20px;">A:</label>
            <textarea type="text" class="form-control" id="anserwerFieldOne" style="width:70%; margin-top:20px; display:inline;"></textarea><br/>

            <label for="anserwerFieldTwo" style="margin-top:20px;">B:</label>
            <textarea type="text" class="form-control" id="anserwerFieldTwo" style="width:70%; margin-top:20px; display:inline;"></textarea><br/>


            <label for="anserwerFieldThree" style="margin-top:20px;">C:</label>
            <textarea type="text" class="form-control" id="anserwerFieldThree" style="width:70%; margin-top:20px; display:inline;"></textarea><br/>

            <label for="anserwerFieldFour" style="margin-top:20px;">D:</label>
            <textarea type="text" class="form-control" id="anserwerFieldFour" style="width:70%; margin-top:20px; display:inline;"></textarea><br/>
        </div>
        <div class="col-sm-6">
            <label for="answerField" style="margin-top:30%;">Answer:(A,B,C,D)</label>
            <input type="text" class="form-control" style="width:40%;"><br/>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary form-control" style="margin-top:30px; width:50%;">Submit</button>
    </div>

  </div>
  <div class="col-sm-3"></div>
</div>


<!-- </body> -->
<script>
// function fillCategory(){
// addOption(document.drop_list.Category, "Fruits", "Fruits", "");
// addOption(document.drop_list.Category, "Games", "Games", "");
// addOption(document.drop_list.Category, "Scripts", "Scripts", "");
// }

// function SelectSubCat(){

// removeAllOptions(document.drop_list.SubCat);
// addOption(document.drop_list.SubCat, "", "SubCat", "");

// if(document.drop_list.Category.value == 'Fruits'){
// addOption(document.drop_list.SubCat,"Mango", "Mango");
// addOption(document.drop_list.SubCat,"Banana", "Banana");
// addOption(document.drop_list.SubCat,"Orange", "Orange");
// }
// if(document.drop_list.Category.value == 'Games'){
// addOption(document.drop_list.SubCat,"Cricket", "Cricket");
// addOption(document.drop_list.SubCat,"Football", "Football");
// addOption(document.drop_list.SubCat,"Polo", "Polo", "");
// }
// if(document.drop_list.Category.value == 'Scripts'){
// addOption(document.drop_list.SubCat,"PHP", "PHP");
// addOption(document.drop_list.SubCat,"ASP", "ASP");
// addOption(document.drop_list.SubCat,"Perl", "Perl");
// }

// }


// function removeAllOptions(selectbox)
// {
//     var i;
//     for(i=selectbox.options.length-1;i>=0;i--)
//     {
//         selectbox.remove(i);
//     }
// }


// function addOption(selectbox, value, text )
// {
//     var optn = document.createElement("OPTION");
//     optn.text = text;
//     optn.value = value;
//     selectbox.options.add(optn);
// }

</script>
<!-- </html> -->
