<!DOCTYPE html>
<html>
<head>
	<title></title>
	  <link rel="stylesheet" href="/home/ram/onlineaptitude/onlineaptitude/static/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- JS -->
    <script src="/home/ram/onlineaptitude/onlineaptitude/static/bower_components/jquery/dist/jquery.js "></script>
    <script src="/home/ram/onlineaptitude/onlineaptitude/static/bower_components/angular/angular.min.js"></script>
    <script src="/home/ram/onlineaptitude/onlineaptitude/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/home/ram/onlineaptitude/onlineaptitude/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/home/ram/onlineaptitude/onlineaptitude/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <style type="text/css">
		.mainList {
			color:#5EAC1A;
		}
		.subList {
			color:#269BC6;
		}
    </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
	<div class="col-sm-4">
		<ol class="mainList">
		<li>General Aptitude</li>
			<ol type="a" class="subList">
				<li>Arithmetic Aptitude</li>
				<li>Data Interpretation</li>
				<li>Online Aptitude Test</li>
				<li>Data Interpretation Test</li>
			</ol>
		<li>Online Tests</li>
			<ol type="a" class="subList">
				<li>Aptitude Test</li>
				<li>Verbal Ability Test</li>
				<li>Logical Reasoning Test</li>
				<li>C Programming Test</li>
				<li>Java Programming Test</li>
				<li>Read more...</li>
			</ol>
		<li>Programming</li>
			<ol type="a" class="subList">
				<li>C Programming</li>
				<li>C++ Programming</li>
				<li>C# Programming</li>
				<li>Java Programming</li>
			</ol>
		<li>Puzzles</li>
			<ol type="a" class="subList">
				<li>Sudoku</li>
				<li>Number puzzles</li>
				<li>Missing letters puzzles</li>
				<li>Logical puzzles</li>
				<li>Clock puzzles</li>
			</ol>
		<li>Technical Interview - Short Answers</li>
			<ol type="a" class="subList">
				<li>Software Testing</li>
				<li>Data Structures</li>
				<li>The C Language Basics</li>
				<li>SQL Server</li>
				<li>Networking</li>
				<li>Core Java</li>
				<li>Read more...</li>
			</ol>
		</ol>
	</div>
	<div class="col-sm-4">
		<ol class="mainList">
		<li>Medical / Science</li>
			<ol type="a" class="subList">
				<li>Microbiology</li>
				<li>Biochemistry</li>
				<li>Biotechnology</li>
				<li>Biochemical Engineering</li>
			</ol>
		<li>Verbal and Reasoning</li>
			<ol type="a" class="subList">
				<li>Verbal Ability</li>
				<li>Logical Reasoning</li>
				<li>Verbal Reasoning</li>
				<li>Non Verbal Reasoning</li>
			</ol>
		<li>Interview</li>
			<ol type="a" class="subList">
				<li>Placement Papers</li>
				<li>Group Discussion</li>
				<li>HR Interview</li>
				<li>Technical Interview</li>
				<li>Body Language</li>
				<li>Read more...</li>
			</ol>
		<li>General Knowledge</li>
			<ol type="a" class="subList">
				<li>Basic General Knowledge</li>
				<li>General Science</li>
				<li>Inventions</li>
				<li>World Geography</li>
				<li>Read more...</li>
			</ol>
		<li>Engineering</li>
			<ol type="a" class="subList">
				<li>Networking Questions</li>
				<li>Database Questions</li>
				<li>Basic Electronics</li>
				<li>Digital Electronics</li>
				<li>Electrical Engineering</li>
				<li>Read more...</li>
			</ol>
		</ol>
	</div>
	<div class="col-sm-4">
		<ol class="mainList">
		<li>New Sections</li>
			<ol type="a" class="subList">
				<li>ECE Questions and Answers</li>
				<li>Civil Engineering</li>
				<li>Mechanical Engineering</li>
				<li>Data Structures, Marketing etc.</li>
			</ol>
		</ol>
	</div>
</div>
</body>
</html>
