    <style type="text/css">
		.mainList {
			color:#5EAC1A;
		}
		.subList {
			color:#269BC6;
		}
    </style>
<div class="container">
<div class="row">
	<div class="col-sm-4">
		<ul class="mainList">
		<li>General Aptitude</li>
			<ol type="a" class="subList">
				<input type="checkbox">Arithmetic Aptitude<br/>
				<input type="checkbox">Data Interpretation<br/>
				<input type="checkbox">Online Aptitude Test<br/>
				<input type="checkbox">Data Interpretation Test<br/>
			</ol>
		<li>Online Tests</li>
			<ol type="a" class="subList">
				<input type="checkbox">Aptitude Test<br/>
				<input type="checkbox">Verbal Ability Test<br/>
				<input type="checkbox">Logical Reasoning Test<br/>
				<input type="checkbox">C Programming Test<br/>
				<input type="checkbox">Java Programming Test<br/>
				<input type="checkbox">Read more...<br/>
			</ol>
		<li>Programming</li>
			<ol type="a" class="subList">
				<input type="checkbox">C Programming<br/>
				<input type="checkbox">C++ Programming<br/>
				<input type="checkbox">C# Programming<br/>
				<input type="checkbox">Java Programming<br/>
			</ol>
		<li>Puzzles</li>
			<ol type="a" class="subList">
				<input type="checkbox">Sudoku<br/>
				<input type="checkbox">Number puzzles<br/>
				<input type="checkbox">Missing letters puzzles<br/>
				<input type="checkbox">Logical puzzles<br/>
				<input type="checkbox">Clock puzzles<br/>
			</ol>
		<li>Technical Interview - Short Answers</li>
			<ol type="a" class="subList">
				<input type="checkbox">Software Testing<br/>
				<input type="checkbox">Data Structures<br/>
				<input type="checkbox">The C Language Basics<br/>
				<input type="checkbox">SQL Server<br/>
				<input type="checkbox">Networking<br/>
				<input type="checkbox">Core Java<br/>
				<input type="checkbox">Read more...<br/>
			</ol>
		</ul>
	</div>
	<div class="col-sm-4">
		<ul class="mainList">
		<li>Medical / Science</li>
			<ol type="a" class="subList">
				<input type="checkbox">Microbiology<br/>
				<input type="checkbox">Biochemistry<br/>
				<input type="checkbox">Biotechnology<br/>
				<input type="checkbox">Biochemical Engineering<br/>
			</ol>
		<li>Verbal and Reasoning</li>
			<ol type="a" class="subList">
				<input type="checkbox">Verbal Ability<br/>
				<input type="checkbox">Logical Reasoning<br/>
				<input type="checkbox">Verbal Reasoning<br/>
				<input type="checkbox">Non Verbal Reasoning<br/>
			</ol>
		<li>Interview</li>
			<ol type="a" class="subList">
				<input type="checkbox">Placement Papers<br/>
				<input type="checkbox">Group Discussion<br/>
				<input type="checkbox">HR Interview<br/>
				<input type="checkbox">Technical Interview<br/>
				<input type="checkbox">Body Language<br/>
				<input type="checkbox">Read more...<br/>
			</ol>
		<li>General Knowledge</li>
			<ol type="a" class="subList">
				<input type="checkbox">Basic General Knowledge<br/>
				<input type="checkbox">General Science<br/>
				<input type="checkbox">Inventions<br/>
				<input type="checkbox">World Geography<br/>
				<input type="checkbox">Read more...<br/>
			</ol>
		<li>Engineering</li>
			<ol type="a" class="subList">
				<input type="checkbox">Networking Questions<br/>
				<input type="checkbox">Database Questions<br/>
				<input type="checkbox">Basic Electronics<br/>
				<input type="checkbox">Digital Electronics<br/>
				<input type="checkbox">Electrical Engineering<br/>
				<input type="checkbox">Read more...<br/>
			</ol>
		</ul>
	</div>
	<div class="col-sm-4">
		<ul class="mainList">
		<li>New Sections</li>
			<ol type="a" class="subList">
				<input type="checkbox">ECE Questions and Answers<br/>
				<input type="checkbox">Civil Engineering<br/>
				<input type="checkbox">Mechanical Engineering<br/>
				<input type="checkbox">Data Structures, Marketing etc.<br/>
			</ol>
		</ul>
		<button class="btn btn-warning form-control" style="width:50%;" ng-click="fillQuestionOption();">Submit</button>
	</div>
</div>
</div>

